.replyform{
    &:not(.reply-form-visible) {
        form {
            display: none;
        }
    }
    &.reply-form-visible {
        .reply-toggle {
            display: none;
        }
    }
}

.editform{
    &:not(.edit-form-visible) {
        form {
            display: none;
        }
    }
    &.edit-form-visible {
        .edit-toggle {
            display: none;
        }
    }
}

.user {
    &.user-visible
     {
        .user-toggle {
            display: none;
        }
    }
}


